*{
    padding: 0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.all-contenedor{
    
    width:100%;
    box-sizing: border-box;
}
header{
    
    
    
}

.areal{
    background-color: #E6E6FA;
    margin: 0 auto;
    margin-top: 250px;
    padding: 40px;
    height: 400px;
    width: 900px;
    font-family:"Roboto";
    border: 1px solid #104E8B;
    color: #104E8B;
    position: absolute;
    top:70%;
    left: 50%;
    transform: translateX(-50%);


}

#mapa{

    position: absolute; 
    top:0px;
    left: 0px;
    width: 100%;
    height:100%;  
}

.menu{

    z-index: 1;
    position: fixed;
    width: 100%;
    height:84px;
    border-bottom: 1px solid #B1BCC1 ;
    border-top: 1px solid #B1BCC1 ;
    padding: 10px auto;
    font-family: "Oswald";
    color:  white/*#375B69*/;
    background-color: #2E4B6B/*#F8F8F8*/;
    font-size: 40px;

}
.menu > span{
    
       
   
    
}
#logo{
    position:absolute;
    margin-left: 10px; 
    height:64px;
    width: 47%;
    top: 50%;
    transform: translateY(-50%);
   
}
#nombre_app {
  
    
    text-decoration: none;
    color:white/*#375B69*/;
    
  
}




.nav-menu {

    position:relative;
    display: inline;
    padding: 0px;
    margin: 10px auto;
    width: 10%;
    /*margin-bottom: 25px;
    margin-top: 25px;*/
 
  left: 60%;
    
   

}

.nav-menu li{
    display: inline;
    font-family: "Oswald";
    margin: 2.5%;
    color: white;
    

}
.nav-menu a{
    text-decoration: none;
    font-size: 0.49em;
    /*color:#375B69;*/
    color: white;
    
}




body{

    font-family: "Oswald";    
}
.contenedor{

    position: absolute;
    top: 84px;
    width: 100%;
    
    overflow: hidden;


}
.slider-contenedor{
    
    width: 100%;
    display:flex;
    flex-shrink: 0;
    
    
}
.contenido-slider{

    flex-shrink: 0;
    align-items:center;
    justify-content: space-around;
    display: flex;
    height: 600px; 
    width: 100%
       
} 

.contenido-slider:nth-child(1){

    background: #fff;
    color: #375B69;
    border-bottom: 1px solid #B1BCC1 ;
    border-top: 1px solid #B1BCC1 ;
     width: 100%
}

.contenido-slider:nth-child(2){

    background: #7AA3B1;
    color: #fff; 
    width: 100%
    

}
.contenido-slider:nth-child(3){

    background: #6B8189;
    color: #fff;
 width: 100%
}
.contenido-slider:nth-child(4){

    background-color: #FFFCE4;
    color: black;
     width: 100%
}
.contenido-slider:nth-child(4) a{

    background-color: transparent;
    color: black;
    text-decoration: underline;
    display: inline;
     width: 100%
}
.contenido-slider:nth-child(5){

    background: #fff;
    color: #375B69;
    border-bottom: 1px solid #B1BCC1 ;
    border-top: 1px solid #B1BCC1 ;
     width: 100%
}
.contenido-slider  img{

    width: 400px;


}
.contenido-slider  div{

    width: 40%;


}  

.contenido-slider  h2{

    font-weight: 300;
    /*text-align: justify;*/
    line-height: 30px;

}  
.contenido-slider a 
{

    color: #fff;
    /*background-color: #375B69 ;*/
    background-color: #f1b500;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 20px;

}  
#title{
    font-family: "Oswald";
    font-size: 45px;
    margin: 10px auto;

} 

@media screen and (max-width:700px){
    .contenido-slider img{
        
        width: 250px;
    }
    .contenido-slider div{
        
        width: 40%;
    }
    .contenido-slider h2{
        font-size: 23px;
    }
    #nombre_app {
transform: translateX(-80%); 
    font-family: "Oswald";
    display: inline;
    text-decoration: none;
    /*color:#375B69;*/
    color: white;
    font-size: 0.75em;
    left: 16%;
   
    
}
.nav-menu a{
    text-decoration: none;
    font-size: 0.49em;
    color:#375B69;
    
}
.nav-menu{

    display: inline;
    padding: 0px;
    margin-bottom: 25px;
    margin-top: 25px;
    position:relative;
    transform: translate(-50%,-70%);
    margin-left: 40px;
    font-family: fantasy;
    position: relative;
    left:50%;
   

}
    }
/*#nombre_app {

    font-family: "Oswald";
    font-size:0.6em;
    display: inline;
    text-decoration: none;
    color:#375B69;
    
    
}*/
    
   
}

@media screen and (max-width:600px){
    .contenido-slider {
        
        flex-direction: column-reverse;
    }
    .contenido-slider div{
        
        width:80%;
    }
}
/*#hiper_login{

    background-color: window;
    color:black;



}*/