@media screen and (max-width:300px){
    .contenedor{
        width: 40%;
    }
    .contenido-slider img{

        width: 250px;
    }
    .contenido-slider div{

        width: 40%;
    }
    .contenido-slider h2{
        font-size: 23px;
    }
    #logo{

        font-size: 0.40em;
        width: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);


    }
    .nav-menu a{

        visibility: hidden;
        /*text-decoration: none;
        font-size: 0.49em;
        color:white;*/

    }
    .nav-menu{

        display: inline;
        padding: 0px;
        margin-bottom: 25px;
        margin-top: 25px;
        position:relative;
        transform: translate(-50%,-70%);
        margin-left: 40px;
        font-family: fantasy;
        position: relative;
        left:50%;


    }
    
    .contenedor{

        position: absolute;
        top: 84px;
        width: 100%;

        font-size: 0.5em;
        overflow: hidden;


    }
}
/*#nombre_app {

    font-family: "Oswald";
    font-size:0.6em;
    display: inline;
    text-decoration: none;
    color:#375B69;
    
    
}*/


}


